<template name="cities">
  <table cellpadding="10">
    <tr>
      {{#if notCityView}}
      	{{#each allCities}}
          <td width = 50%>
            {{> city}}
          </td>
        {{/each}}
      {{else}}
        {{#each citySet}}
          <td width = 50%>
            {{> city}}
          </td>
        {{/each}}
      {{/if}}
    </tr>
  </table>
  
  <!-- <p>You've pressed the button {{counter}} times.</p> -->
</template>

<!--<template name="individualCity">
  {{#each individualCities}}
    {{> city}}
  {{/each}}
   -->
  <!-- <p>You've pressed the button {{counter}} times.</p> -->
<!-- </template> -->


<template name="city">
  <!-- {{}} -->
  <div id="cityBox">
    <p class="cityName">{{name}} </p>
    <section id=resourcesBox>
      <section id="metalResourceBox">
        <div id="m1Items"> m1: {{#each m1Arr}} <img class="cityIcon" src="../img/icons/gold_sml.png"> {{/each}}</div>  
        <div id="m2Items">m2: {{#each m2Arr}} <img class="cityIcon" src="../img/icons/steel_sml.png"> {{/each}} </div>
      </section>
      <section id=foodResourceBox>
        <div id="f1Items">f1: {{#each f1Arr}} <img class="cityIcon" src="../img/icons/food_sml.png"> {{/each}} </div>   
        <div id="f2Items">f2: {{#each f2Arr}} <img class="cityIcon" src="../img/icons/cotton_sml.png"> {{/each}} </div>
      </section>
    </section>
    <section id="scoresBox">
      <div id="pollutionCity">pollution: {{#each pollArr}} <img class="cityIcon" src="../img/icons/pollution_med.png"> {{/each}}</div>

      <div id="popCity">population: {{#each popArr}} <img class="cityIcon" src="../img/icons/population_med.png"> {{/each}}  </div>

      <div id="happinessCity">happiness: {{#each happyArr}} <img class="cityIcon" src="../img/icons/happiness_med.png"> {{/each}}</div>
    </section>
    <section id="factoryBox">
      <table cellpadding="10">
        <tr> Factories </tr>
        <tr>
          {{#each cityFactories}}
            <td bgcolor="{{producerColor}}">
              {{> cityFactory}}
            </td>
          {{/each}}
        </tr>
      </table>
    </section>
  </div>
      
</template>

<template name="cityFactory">
  You have a {{kind}} producer. <br />
  Produces:{{productionValues}} <br />
  While using: {{productionCosts}}
  {{#each productionRes}}
    <!-- <p> item </p> -->
   {{#each resValArr}}
     <!-- <p>test</p> -->
   {{/each}}
  {{/each}}<br />
</template>