<template name="makeGame">
  <form class = "hostGame form form-inline" role = "form">
    <div class="form-group">
      <label for="groupSizeTextBox" class="control-label">Groups:</label>
          <input type="number" placeholder="4" name="groups" class = "form-control" id = "groupSizeTextBox"/>
    <input type="submit" value = "Host new game" class = "btn btn-default" /> 
    <sub>(Please enter less than 8 and >=2 if you don't want all the things to break)</sub>
    </div>
  </form>

  {{> gameList }}
</template>


<template name="adminGame">
  <table>
    {{#each allPlayers}}
    <tr>
      <td> {{this}} </td>
      <td>
        <form class="changeStat form-inline">
          <div class="form-group">
            <input class = "form-control" type="number" name="amount" placeholder="value" />
          </div>
          <div class="form-group">
            <select class = "form-control" id="resource" name={{this}}>
              {{#each gameResource}}
                <option value = {{this}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <input class="form-control" type="submit" value="submit"/>
          </div>
        </form>
      </td>
    </tr>
    {{/each}}
  </table>
  <button class="newRound btn btn-default">Next Round</button>
  <br />
  <button class="reset btn btn-default"> Reset everything </button>
  <br />
  <button class="btn btn-default seeScore">See scoreboard</button>
</template>

<!-- <template name="adminGames">
  <div class="panel panel-default">
    <div class="panel-heading">Play Games</div>
    <ul class="list-group">

      {{#each gameList}}
        <a href="/games/{{gameCode}}">
          <li class="list-group-item">
            {{gameCode}}
          </li>
        </a>
      {{/each}}
    </ul>
  </div>
</template>
 -->