<template name="makeGame">
  <form class = "hostGame form form-inline" role = "form">
    <div class="form-group">
      <label for="groupSizeTextBox" class="control-label">Groups:</label>
          <input type="number" placeholder="4" name="groups" class = "form-control" id = "groupSizeTextBox"/>
    <input type="submit" value = "Host new game" class = "btn btn-default" /> 
    <sub>(Please enter less than 8 and >=2 if you don't want all the things to break)</sub>
    </div>
  </form>

  {{> gameList }}

  <div class="panel panel-default">
    <div class="panel-heading">Paused Games</div>
    <ul class="list-group">

      {{#each pausedGames}}
        <a href="/games/{{gameCode}}">
          <li class="list-group-item">
            {{gameCode}}  {{gameSize}}
          </li>
        </a>
      {{/each}}
    </ul>
  </div>

  
</template>

<template name="adminGame">
  <table>
    {{#each allPlayers}}
    <tr>
      <td> {{this}} </td>
      <td>
        <form class="changeStat form-inline">
          <div class="form-group">
            <input class = "form-control" type="number" name="amount" placeholder="value" />
          </div>
          <div class="form-group">
            <select class = "form-control" id="resource" name={{this}}>
              {{#each gameResource}}
                <option value = {{this}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <input class="form-control" type="submit" value="submit"/>
          </div>
        </form>
      </td>
    </tr>
    {{/each}}
  </table>
  <p>    <button class="newRound btn btn-default">Next Round</button>  </p>
  <p>    <button class="reset btn btn-default"> Reset everything </button>  </p>
  <p>    <button class="btn btn-default seeScore">See scoreboard</button>  </p>

  Status: {{status}}
  <button class="btn btn-default toggleGameState">Toggle</button>

  <!--  Change people's teams-->
  <p>
  <form class="changeTeam form-inline">
    <div class="form-group">
      <select class = "form-control" id="player" name="player">
        {{#each gamePlayers}}
          <option value = {{playerName}}>{{playerName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <select class = "form-control" id="team" name="team">
        {{#each gameTeams}}
          <option value = {{playerName}}>{{playerName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <input class="form-control" type="submit" value="Change Team"/>
    </div>
  </form>
  </p>
  <!--  Make a new player a base -->
  <p>
  <form class="makeBase form-inline">
    <div class="form-group">
      <input class = "form-control" type="text" name="playerName" placeholder="player" />
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Make Base"/>
    </div>
  </form>
  </p>
  <!--  Set neighbors for a base -->
  <p>
  <form class="setNeighbors form-inline">
    <div class="form-group">
      <input class = "form-control" type="text" name="cityName" placeholder="city name" />
    </div>
    <div class="form-group">
      <input class = "form-control" type="text" name="neighborName" placeholder="neighbor name" />
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Add Neighbor"/>
    </div>
  </form>
  </p>
</template>

<!-- <template name="adminGames">
  <div class="panel panel-default">
    <div class="panel-heading">Play Games</div>
    <ul class="list-group">

      {{#each gameList}}
        <a href="/games/{{gameCode}}">
          <li class="list-group-item">
            {{gameCode}}
          </li>
        </a>
      {{/each}}
    </ul>
  </div>
</template>
 -->